$padding-space : 1rem;
$poppin-font: poppins;
$font-bolder: 700;
$grayish-color : hsl(257, 7%, 63%);
$cyan-color: hsl(180, 66%, 49%);
$white-color:#fff;
$dark-violet :  hsl(257, 27%, 26%);

.section-1{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
}

.header-title {
    font-size: 4rem;
    font-weight: $font-bolder;
}

.descp{
    color:$grayish-color;
    width: 30rem;
}

.btn-started {
    background-color: $cyan-color;
    width: 10rem;
    border-radius: 26px;
    display: grid;
    align-items: center;
    height: 3rem;
    color: $white-color;
    font-weight: $font-bolder;
}

.section-2{
    margin-top: 8rem;
    width: 100%;
    background-color: hsl(225deg 33% 95%);
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-box{
    width: 80%;
    min-height: 6rem;
    background-color: $dark-violet;
    background-image: url(../../assets/images/bg-shorten-desktop.svg);
    display: flex;
    flex-direction: row;
    border-radius: 12px;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: -3em;
}

.box {
    width: 80%;
}

.short-btn {
    background-color: $cyan-color;
    width: 10%;
    display: grid;
    place-content: center;
    height: 2.5rem;
    border-radius: 5px;
    color: $white-color;
}